<article class="uk-article">

  <h1 class="uk-article-title uk-float-left"><a class="uk-link-reset" href="">タイトル</a></h1>

  <p class="uk-article-meta">name<a href="#">Super User</a> on 12 April 2012. Posted in <a href="#">Blog</a></p>

  <p class="uk-text-lead">アウトプット</p>


  <div class="uk-grid-small uk-child-width-auto" uk-grid>
    <div>
      <a class="uk-button uk-button-text" href="#">詳細</a>
    </div>
    <div>
      <a class="uk-button uk-button-text" href="#">削除</a>
    </div>
  </div>

</article>