<article class="uk-article">

  <h1 class="uk-article-title uk-float-left"><a class="uk-link-reset" href=""><%= post.title %></a></h1>

  <p class="uk-text-lead" id="text"><%= markdown("#{post.text}") %></p>
  <%# <%=div v-html="#{post.text} | marked" id="marked-preview"%>

  <div class="uk-grid-small uk-child-width-auto" uk-grid>
    <div>
      <a class="uk-button uk-button-text" href="#">詳細</a>
    </div>
    <div>
      <a class="uk-button uk-button-text" href="#">削除</a>
    </div>
  </div>

</article>

<script type="text/javascript">
  $(window).on('load', function() {
    var renderer =  marked.Renderer()
    var text = document.getElementById(text)
    // renderer.code = function(code, language) {
    //   return '<pre'+'><code class="hljs">' + hljs.highlightAuto(code).value + '</code></pre>';
    // };

    marked.setOptions({
      renderer: renderer,
      langPrefix: '',
      breaks : true
    });
    new Vue({
      el: '#text',
      data: {
        text: '<%== j post.text %>',
      },
      filters: {
        marked: marked,
      },
    });
  });
</script>
  

