<article class="uk-article">

  <h1 class="uk-article-title uk-float-left"><a class="uk-link-reset" href=""><%= post.title %></a></h1>

  <p class="uk-text-lead" id="text"><%= markdown("#{post.text}") %></p>
  

  <div class="uk-grid-small uk-child-width-auto" uk-grid>
    <div>
      <%= link_to "編集", "/posts/#{post.id}/edit", class: "uk-button uk-button-text"%>
    </div>
    <div>
      <%= link_to "削除", "/posts/#{post.id}", method: :delete, class: "uk-button uk-button-text"%>
    </div>
  </div>

</article>



