<body>
  <div id="app">
    <article class="uk-article">
      <h1 class="uk-article-title uk-float-left">
        <a class="uk-link-reset" href="" v-on:click="onclick">
          <%= post.title %>
        </a>
      </h1>    
    </article>
  </div>
</body>
<script>
  new Vue({
    el: "#app",
    methods: { 
      onclick: function () {
        
        
      }
    }
  })



