<body>
  <div class="contents">
    <div class="content">
      <% @posts.each do |post| %>
        <%= render partial: "post", locals: { post: post } %>
      <% end %>
    </div>
    <div class="post_btn">
      <%= link_to new_post_path, class: "btn_link" do %> 
        <div class="btn_detail">
          <div class="btn_text">
            アウトプット
          </div>
          <i class="fas fa-thumbs-up"></i>
        </div>
      <% end %>
    </div>
  </div>
  <%# <%= javascript_tag "hello_vue" %> %>
</body>