<body>
  <div id="app">
    <router-view></router-view>
  </div>
  <div class="post_btn">
    <%= link_to new_post_path, class: "btn_link" do %> 
      <div class="btn_detail">
        <div class="btn_text">
          アウトプット
        </div>
        <i class="fas fa-thumbs-up"></i>
      </div>
    <% end %>
  </div>


  <%= javascript_packs_with_chunks_tag 'hoge' %>
  
</body>

